@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoa8XsLL.woff2) format("woff2");
}
@font-face {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa0gebelJo0.woff2) format("woff2");
}
